adminyash/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "adminyash"
		},
		"LS_ServerLessPool_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_ServerLessPool'"
		},
		"adminyash-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'adminyash-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:adminyash.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"ExtLake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://synapsdwhlake.dfs.core.windows.net/"
		},
		"LS_Datalake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://synapsdwhlake.dfs.core.windows.net/"
		},
		"LS_ServerLessPool_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "adminyash-ondemand.sql.azuresynapse.net"
		},
		"LS_ServerLessPool_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "salesDWH"
		},
		"LS_ServerLessPool_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adminyash"
		},
		"adminyash-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://manageddatalakesynaps.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/rawIngestion')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "rawIngestion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OrderID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "OrderID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "OrderDate",
											"type": "Date",
											"physicalType": "String"
										},
										"sink": {
											"name": "OrderDate",
											"type": "Date",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "CustomerID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CustomerName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CustomerEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CustomerEmail",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ProductCategory",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductCategory",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RegionID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RegionName",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegionName",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Country",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Country",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Quantity",
											"type": "Int64",
											"physicalType": "String"
										},
										"sink": {
											"name": "Quantity",
											"type": "Int64",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "UnitPrice",
											"type": "Int64",
											"physicalType": "String"
										},
										"sink": {
											"name": "UnitPrice",
											"type": "Int64",
											"isNullable": true
										}
									},
									{
										"source": {
											"name": "TotalAmount",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TotalAmount",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_rawcsv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_Parquet",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-07-13T05:35:21Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DS_rawcsv')]",
				"[concat(variables('workspaceId'), '/datasets/DS_Parquet')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/transformationLayer')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Data Transformation",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "transformationDataFlow",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"sourceBronze": {},
									"silverDestination": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "silverTable",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "Data Transformation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "LS_ServerLessPool",
							"type": "LinkedServiceReference"
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "IF NOT EXISTS(SELECT * FROM sys.tables t JOIN sys.schemas s ON t.schema_id = s.schema_id\nWHERE t.name = 'silverTable' and s.name = 'silver')\n    CREATE EXTERNAL TABLE silver.silverTable\n    (\n        OrderID VARCHAR(100),\n        OrderDate DATETIME2,\n        CustomerID VARCHAR(100),\n        CustomerName VARCHAR(100),\n        CustomerEmail VARCHAR(100),\n        ProductID VARCHAR(100),\n        ProductName VARCHAR(100),\n        ProductCategory VARCHAR(100),\n        RegionID VARCHAR(100),\n        RegionName VARCHAR(100),\n        Country VARCHAR(100),\n        Quantity INT,\n        UnitPrice INT,\n        TotalAmount VARCHAR(100),\n        Domain VARCHAR(100)\n    )\n    WITH (\n        LOCATION = 'enrichedSales',\n        DATA_SOURCE = silver_source, \n        FILE_FORMAT = parquet_format\n    )",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/transformationDataFlow')]",
				"[concat(variables('workspaceId'), '/linkedServices/LS_ServerLessPool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_Parquet')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "orderDay0.parquet",
						"folderPath": "sales",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_Datalake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_Parquet_Bronze')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "sales",
						"fileSystem": "bronze"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "OrderID",
						"type": "UTF8"
					},
					{
						"name": "OrderDate",
						"type": "DATE"
					},
					{
						"name": "CustomerID",
						"type": "UTF8"
					},
					{
						"name": "CustomerName",
						"type": "UTF8"
					},
					{
						"name": "CustomerEmail",
						"type": "UTF8"
					},
					{
						"name": "ProductID",
						"type": "UTF8"
					},
					{
						"name": "ProductName",
						"type": "UTF8"
					},
					{
						"name": "ProductCategory",
						"type": "UTF8"
					},
					{
						"name": "RegionID",
						"type": "UTF8"
					},
					{
						"name": "RegionName",
						"type": "UTF8"
					},
					{
						"name": "Country",
						"type": "UTF8"
					},
					{
						"name": "Quantity",
						"type": "INT64"
					},
					{
						"name": "UnitPrice",
						"type": "INT64"
					},
					{
						"name": "TotalAmount",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_Datalake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_Silver')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "enrichedSales",
						"fileSystem": "silver"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_Datalake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_rawcsv')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_Datalake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "order_day0.csv",
						"fileSystem": "source"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OrderID",
						"type": "String"
					},
					{
						"name": "OrderDate",
						"type": "String"
					},
					{
						"name": "CustomerID",
						"type": "String"
					},
					{
						"name": "CustomerName",
						"type": "String"
					},
					{
						"name": "CustomerEmail",
						"type": "String"
					},
					{
						"name": "ProductID",
						"type": "String"
					},
					{
						"name": "ProductName",
						"type": "String"
					},
					{
						"name": "ProductCategory",
						"type": "String"
					},
					{
						"name": "RegionID",
						"type": "String"
					},
					{
						"name": "RegionName",
						"type": "String"
					},
					{
						"name": "Country",
						"type": "String"
					},
					{
						"name": "Quantity",
						"type": "String"
					},
					{
						"name": "UnitPrice",
						"type": "String"
					},
					{
						"name": "TotalAmount",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_Datalake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ExtLake')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ExtLake_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/LS_Datalake')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_Datalake_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/LS_ServerLessPool')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"server": "[parameters('LS_ServerLessPool_properties_typeProperties_server')]",
					"database": "[parameters('LS_ServerLessPool_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('LS_ServerLessPool_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_ServerLessPool_password')]"
					}
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/adminyash-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('adminyash-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/adminyash-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adminyash-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/transformationDataFlow')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_Parquet_Bronze",
								"type": "DatasetReference"
							},
							"name": "sourceBronze"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_Silver",
								"type": "DatasetReference"
							},
							"name": "silverDestination"
						}
					],
					"transformations": [
						{
							"name": "addingDomainColumn"
						},
						{
							"name": "alterRow"
						}
					],
					"scriptLines": [
						"source(output(",
						"          OrderID as string,",
						"          OrderDate as date,",
						"          CustomerID as string,",
						"          CustomerName as string,",
						"          CustomerEmail as string,",
						"          ProductID as string,",
						"          ProductName as string,",
						"          ProductCategory as string,",
						"          RegionID as string,",
						"          RegionName as string,",
						"          Country as string,",
						"          Quantity as long,",
						"          UnitPrice as long,",
						"          TotalAmount as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> sourceBronze",
						"sourceBronze derive(Domain = split(CustomerEmail,'@')[2]) ~> addingDomainColumn",
						"addingDomainColumn alterRow(insertIf(1==1)) ~> alterRow",
						"alterRow sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> silverDestination"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DS_Parquet_Bronze')]",
				"[concat(variables('workspaceId'), '/datasets/DS_Silver')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/externalResources')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "--Database Scoped Credential\nCREATE DATABASE SCOPED CREDENTIAL yashCreds\nWITH IDENTITY = 'Managed Identity'\n\n--External Data Source \nCREATE EXTERNAL DATA SOURCE silver_source\nWITH(\n    LOCATION = 'https://synapsdwhlake.dfs.core.windows.net/silver/',\n    CREDENTIAL = yashCreds\n)\n\nCREATE EXTERNAL DATA SOURCE gold_source\nWITH(\n    LOCATION = 'https://synapsdwhlake.dfs.core.windows.net/gold/',\n    CREDENTIAL = yashCreds\n)\n\n--External File Format\nCREATE EXTERNAL FILE FORMAT parquet_format\nWITH (\n    FORMAT_TYPE = PARQUET,\n    DATA_COMPRESSION = 'org.apache.hadoop.io.compress.SnappyCodec'\n)\n\n\nCREATE EXTERNAL FILE FORMAT delta\nWITH (\n    FORMAT_TYPE = DELTA\n)",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "salesDWH",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/sampleSQLFor100TopRpws')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "-- This is auto-generated code\nSELECT\n    TOP 100 *\nFROM\n    OPENROWSET(\n        BULK 'enrichedSales',\n        DATA_SOURCE = 'silver_source',\n        FORMAT = 'PARQUET'\n    ) AS [result]\n\nSELECT * FROM silver.silverTable\n\n\nSELECT * FROM \nOPENROWSET\n(\n    BULK 'enrichedSales',\n    DATA_SOURCE = 'silver_source',\n    FORMAT = 'PARQUET'\n) \nWITH\n(\n    ORDER_ID VARCHAR(100) 1\n)as q3",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "salesDWH",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/schemas')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE SCHEMA silver;\n\nCREATE SCHEMA gold;\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "salesDWH",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/silverTable')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "IF NOT EXISTS(SELECT * FROM sys.tables t JOIN sys.schemas s ON t.schema_id = s.schema_id\nWHERE t.name = 'silverTable' and s.name = 'silver')\n    CREATE EXTERNAL TABLE silver.silverTable\n    (\n        OrderID VARCHAR(100),\n        OrderDate DATETIME2,\n        CustomerID VARCHAR(100),\n        CustomerName VARCHAR(100),\n        CustomerEmail VARCHAR(100),\n        ProductID VARCHAR(100),\n        ProductName VARCHAR(100),\n        ProductCategory VARCHAR(100),\n        RegionID VARCHAR(100),\n        RegionName VARCHAR(100),\n        Country VARCHAR(100),\n        Quantity INT,\n        UnitPrice INT,\n        TotalAmount VARCHAR(100),\n        Domain VARCHAR(100)\n    )\n    WITH (\n        LOCATION = 'enrichedSales',\n        DATA_SOURCE = silver_source, \n        FILE_FORMAT = parquet_format\n    )",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "salesDWH",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Dimentions')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "-----------------\n-- DimCustomers\n-----------------\n\nIF NOT EXISTS(SELECT * FROM sys.tables t JOIN sys.schemas s ON t.schema_id = s.schema_id \nWHERE t.name = 'DimCustomer' AND s.name = 'gold')\n    CREATE EXTERNAL TABLE gold.DimCustomer\n    WITH (\n        LOCATION = 'DimCustomer',\n        DATA_SOURCE = gold_source,\n        FILE_FORMAT = parquet_format\n    )\n    AS \n    SELECT *, ROW_NUMBER() OVER (ORDER BY a.CustomerID) as DimCustomerKey\n    FROM\n    (SELECT \n        DISTINCT \n        CustomerID,\n        CustomerName,\n        CustomerEmail,\n        Domain\n    FROM \n        silver.silverTable\n    ) a\n\n-----------------\n-- DimProducts\n-----------------\nIF NOT EXISTS(SELECT * FROM sys.tables t JOIN sys.schemas s ON t.schema_id = s.schema_id \nWHERE t.name = 'DimProduct' AND s.name = 'gold')\n    CREATE EXTERNAL TABLE gold.DimProduct\n    WITH (\n        LOCATION = 'DimProduct',\n        DATA_SOURCE = gold_source,\n        FILE_FORMAT = parquet_format\n    )\n    AS \n    SELECT * , ROW_NUMBER() OVER (ORDER BY b.ProductID) as DimProductKey\n    FROM \n    (SELECT \n        DISTINCT \n        ProductID,\n        ProductName,\n        ProductCategory\n    FROM silver.silverTable ) b\n\n-----------------\n-- DimGeography\n-----------------\nIF NOT EXISTS(SELECT * FROM sys.tables t JOIN sys.schemas s ON t.schema_id = s.schema_id \nWHERE t.name = 'DimGeography' AND s.name = 'gold')\n    CREATE EXTERNAL TABLE gold.DimGeography\n    WITH (\n        LOCATION = 'DimGeography',\n        DATA_SOURCE = gold_source,\n        FILE_FORMAT = parquet_format\n    )\n    AS \n    SELECT *, ROW_NUMBER() OVER (ORDER BY c.RegionID) as DimGeographyKey\n    FROM \n    (SELECT \n        DISTINCT \n        RegionID,\n        Country\n    FROM silver.silverTable\n    ) c\n\n-----------------\n-- DimOrders\n-----------------\nIF NOT EXISTS(SELECT * FROM sys.tables t JOIN sys.schemas s ON t.schema_id = s.schema_id \nWHERE t.name = 'DimOrders' AND s.name = 'gold')\n    CREATE EXTERNAL TABLE gold.DimOrders\n    WITH (\n        LOCATION = 'DimOrders',\n        DATA_SOURCE = gold_source,\n        FILE_FORMAT = parquet_format\n    )\n    AS \n    SELECT * , ROW_NUMBER() OVER (ORDER BY d.CustomerID) as DimOrdersKey\n    FROM \n    (SELECT \n        OrderID,\n        CustomerID,\n        CustomerName,\n        CustomerEmail,\n        ProductID,\n        ProductName,\n        ProductCategory,\n        RegionID,\n        Country,\n        Domain\n    FROM silver.silverTable\n    )d",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "salesDWH",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Fact')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "SELECT \n    o.DimOrdersKey,\n    c.DimCustomerKey,\n    p.DimProductKey.\n    g.DimGeographyKey,\n    f.Quantity,\n    f.UnitPrice,\n    f.TotalAmount\nFROM \n    silver.silverTable f\nLEFT JOIN\n    gold.DimOrders o ON f.OrderID = o.OrderID\nLEFT JOIN \n    gold.DimCustomer c ON f.CustomerID = c.CustomerID\nLEFT JOIN\n    gold.DimProduct p ON f.ProductID = p.ProductID\nLEFT JOIN \n    gold.DimGeography g ON f.RegionID = g.RegionID AND f.Country = g.Country",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "salesDWH",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		}
	]
}